<div class="card">
  <div class="card-content">
    <div class="title-tools">
      <h3 class="card-title">
        {{ detail.title }}
      </h3>
      <div class="tools">
        <button class="edit" [routerLink]="[detail.id]">
          <i class="fas fa-edit"></i>
        </button>
        <button class="delete" (click)="prompt()">
          <i class="fas fa-trash-alt"></i>
        </button>
        <div class="prompt" *ngIf="showPrompt">
          <div class="question">Are you sure?</div>
          <div class="answers">
            <button (click)="removeTask()">Yes</button>

            <button (click)="showPrompt = false">No</button>
          </div>
        </div>
      </div>
    </div>
    <p class="card-description">
      {{ detail.description }}
    </p>
    <div class="asignee">
      <div class="asignee-info">
        <strong>{{ detail.asignee }}</strong>
      </div>
      <small>{{ detail.dueDate }}</small>
      <div class="completed-info">
        <div class="completed" *ngIf="detail.completed">
          <i class="fa fa-check-circle" aria-hidden="true"></i>
        </div>
        <div class="not-completed" *ngIf="!detail.completed">
          <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
