.employee-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 0;
  width: 100vw;
  height: auto;
  .employee-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0;

    .employee-detail-container-headers {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      width: 90vw;
      font-weight: 600;
      font-size: 16px;
      color: #fff;
      background-color: #3498db;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
      border: 1px solid #9fa4a8;
      border-radius: 10px;
      margin: 2px 0;

      > div {
        text-align: center;
        width: 15%;
      }

      .top-5 {
        font-size: 14px;
        padding: 3px;
        cursor: pointer;
        background-color: #246d9f;
        border-radius: 6px;
      }
      .top-5:hover {
        filter: brightness(110%);
      }
    }
  }
  .add {
    position: absolute;
    top: 1rem;
    right: 1rem;
    transform: translate(-10%, -105%);
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .mask {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;

    .close-mask {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}
